#backend#

#dependencies
/backend/node_modules

#my stuffs
/backend/README.md

#frontend#

#dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/src/reportWebVitals
/frontend/src/setupTests
/frontend/src/App.test

# testing
/frontend/coverage
/frontend/README.md

# production


# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/node_modules
