.App {
  text-align: center;
  margin-top: 20px;
  height: 80%;

  .buttonDiv {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .addButton {
      display: flex;
      align-items: center;
    }
  }

  img {
    width: 120px;
    height: 120px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}
